<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

{% block content %}
 {% csrf_token %}
  <h2>Welcome, {{ user.username }}!</h2>
{% endblock %}

</body>
</html>