<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>




{% block content %}
    <form class="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{ field.label_tag}} <br>
                {{ field }}
                {% if field.help_text %}
                    <small style="color:grey">{{ field.help_text}}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color:red">{{ error }}</p>
                {% endfor %}
            </p>
        {% endfor %}

       <input type="submit" value="Sing Up" >


    </form>
{% endblock %}





</body>
</html>